.fade-in {
    animation: fadeIn cubic-bezier(0.42, 0.9, 0.58, 1) 1.2s;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(10%);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.fade-out {
    animation: fadeOut cubic-bezier(0.58, 1, 0.42, 0.9) 1.2s;
}

@keyframes fadeOut {
    from {
        opacity: 1;
        transform: translateY(0);
    }

    to {
        opacity: 0;
        transform: translateY(10%);
    }
}

.move-left {
    animation: moveLeft cubic-bezier(0.42, 0.9, 0.58, 1) 1s;
}

@keyframes moveLeft {
    from {
        opacity: 0;
        transform: translateX(-50%);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.move-right {
    animation: moveRight cubic-bezier(0.42, 0.9, 0.58, 1) 1s;
}

@keyframes moveRight {
    from {
        opacity: 0;
        transform: translateX(50%);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.move-up {
    animation: moveUp cubic-bezier(0.42, 0.9, 0.58, 1) 1s;
}

@keyframes moveUp {
    from {
        opacity: 0;
        transform: translateY(-50%);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.move-done {
    animation: moveDone cubic-bezier(0.42, 0.9, 0.58, 1) 1s;
}

@keyframes moveDone {
    from {
        opacity: 0;
        transform: translateY(50%);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.move-outsidein {
    animation: moveOutsidein cubic-bezier(0.42, 0.9, 0.58, 1) 1s;
}

@keyframes moveOutsidein {
    from {
        opacity: 0;
        transform: scale(2);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}

.move-insideout {
    animation: moveInsideout cubic-bezier(0.42, 0.9, 0.58, 1) 1s;
}

@keyframes moveInsideout {
    from {
        opacity: 0;
        transform: scale(0.5);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}

.fade-sidewaysIn {
    animation: fadeSidewaysIn cubic-bezier(0.42, 0.9, 0.58, 1) 1.2s;
}

@keyframes fadeSidewaysIn {
    from {
        opacity: 0;
        transform: translate(-91.3%, 16.1%);
    }

    to {
        opacity: 1;
        transform: translate(0, 0);
    }
}