#app {
    height: 100%;
}

html,
body {
    position: relative;
    height: 100%;
}

body {
    background: #f1f2f3;
    margin: 0;
    padding: 0;
}

.swiper {
    width: 100%;
    height: 100%;
}

.page {
    background: #f1f2f3;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.footer {
    background: #f8b600;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 160px;
}